@import url('https://fonts.googleapis.com/css2?family=Imprima&family=JetBrains+Mono&family=Roboto:wght@700&display=swap');

@media screen and (min-width: 0px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        text-decoration: none;
    }

    body{
        font-size: 100%;
        background-image: url("../../images/fundo_cell.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        height: auto;
    }
    
    .Cabecalho{
        width: auto;
        padding: 3px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #DCDCDC;
    }   

    .Cabecalho-item{
        font-size: 8px;
        color: #010440;
        font-family: 'JetBrains Mono', monospace;
    }
    #home{
        color: #000ac0;
    }
    .Cabecalho-item:hover{
        font-size: 8px;
        color: #000ac0;
        font-family: 'JetBrains Mono', monospace;
    }

    .titulo1{
        color: #FFFDE7;
        display: flex;
        font-family: 'Imprima', sans-serif;
        font-size: 20px;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 18px;
    }

    .texto{
        color: #FFFDE7;
        display: flex;
        font-family: 'Imprima', sans-serif;
        font-size: 14px;
        flex-direction: column;
        align-items: center;
        padding-inline: 5%;
        padding-top: 2%;

    }

    .Logo{
        width: 8%;
    }

    .texto:hover{
        color: #000ac0;
    }
}


@media screen and (min-width: 320px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        text-decoration: none;
    }

    body{
        font-size: 100%;
        background-image: url("../../images/fundo_cell.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        height: auto;
    }
    
    .Cabecalho{
        width: auto;
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #DCDCDC;
    }   

    .Cabecalho-item{
        font-size: 18px;
        color: #010440;
        font-family: 'JetBrains Mono', monospace;
    }
    #home{
        color: #000ac0;
    }
    .Cabecalho-item:hover{
        font-size: 18px;
        color: #000ac0;
        font-family: 'JetBrains Mono', monospace;
    }

    .titulo1{
        color: #FFFDE7;
        display: flex;
        font-family: 'Imprima', sans-serif;
        font-size: 24px;
        flex-direction: column;
        align-items: center;
        padding-top: 70px;
        padding-bottom: 25px;
        
    }

    .texto{
        color: #FFFDE7;
        display: flex;
        font-family: 'Imprima', sans-serif;
        font-size: 18px;
        flex-direction: column;
        align-items: center;
        padding-inline: 5%;
        padding-top: 2%;

    }

    .texto:hover{
        color: #000ac0;
    }

    .Logo{
        height: auto;
    }

}


@media screen and (min-width: 834px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        text-decoration: none;
    }

    body{
        font-size: 100%;
        background-image: url("../../images/fundo.svg");
        background-repeat: no-repeat ;
        background-size: cover;
        width: auto;
        height: auto;
    }

    .Cabecalho{
        width: auto;
        padding: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #DCDCDC;
    }   

    .Cabecalho-item{
        font-size: 20px;
        color: #010440;
        font-family: 'JetBrains Mono', monospace;
    }
    #home{
        color: #000ac0;
    }
    .Cabecalho-item:hover{
        font-size: 20px;
        color: #000ac0;
        font-family: 'JetBrains Mono', monospace;
    }

    .titulo1{
        color: #FFFDE7;
        display: flex;
        font-family: 'Imprima', sans-serif;
        font-size: 40px;
        flex-direction: column;
        align-items: center;
        padding-top: 101px;
        padding-bottom: 31px;
    }

    .texto{
        color: #FFFDE7;
        display: flex;
        font-family: 'Imprima', sans-serif;
        font-size: 28px;
        flex-direction: column;
        align-items: center;
        padding-inline: 5%;
        padding-top: 2%;

    }


    .texto:hover{
        color: #000ac0;
    }

    .Logo{
        height: auto;
    }
 }



@media screen and (min-width: 1138px){ 
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        text-decoration: none;
    }

    body{
        font-size: 100%;
        background-image: url("../../images/fundo.svg");
        background-repeat: no-repeat ;
        background-size: cover;
        width: auto;
        height: 200%;
    }

    .Cabecalho{
        width: auto;
        padding: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #DCDCDC;
    }   

    .Cabecalho-item{
        font-size: 24px;
        color: #010440;
        font-family: 'JetBrains Mono', monospace;
    }
    #home{
        color: #000ac0;
    }
    .Cabecalho-item:hover{
        font-size: 24px;
        color: #000ac0;
        font-family: 'JetBrains Mono', monospace;
    }

    .titulo1{
        color: #FFFDE7;
        display: flex;
        font-family: 'Imprima', sans-serif;
        font-size: 48px;
        flex-direction: column;
        align-items: center;
        padding-top: 101px;
        padding-bottom: 31px;
    }

    .texto{
        color: #FFFDE7;
        display: flex;
        font-family: 'Imprima', sans-serif;
        font-size: 36px;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2%;

    }
   
    .texto:hover{
        color: #000ac0;
    }

    .Logo{
        width: auto;
    }

   
}